<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include/include :: head('400 错误页-打印收支管理系统')"/>
</head>
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (页眉) -->
            <section class="content-header">
                <h1>
                    仪表盘
                    <small>控制面板</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-dashboard"></i> 首页</a></li>
                    <li class="active">404</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="box box-default">

                    <div class="box-body">
                        <h2 class="headline text-yellow"> 404</h2>

                        <div class="error-content">
                            <h3><i class="fa fa-warning text-yellow"></i> 哎呀！找不到网页。</h3>

                            <p>
                                我们找不到你需要的网页。
                                同时，您可以<button type="button" class="btn btn-default"  onclick="history.go(-1)">返回前一页</button>或尝试使用搜索。
                            </p>

                            <form class="search-form">
                                <div class="input-group">
                                    <input type="text" name="search" class="form-control" placeholder="搜索">

                                    <div class="input-group-btn">
                                        <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.input-group -->
                            </form>
                        </div>
                        <!-- /.error-content -->
                    </div>

                </div>
            </section>

        </div>
    </div>

    <th:block th:replace="include/footer :: footer"/>
</div>
<!-- ./wrapper -->

<th:block th:include="include/include :: foot"/>

</body>
</html>