<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include/include :: head('首页-打印收支管理系统')"/>

</head>
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

    <th:block th:replace="include/header :: header"/>

    <!-- Full Wnameth Column -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (页眉) -->
            <section class="content-header">
                <h1>
                    仪表盘
                    <small>控制面板</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-dashboard"></i> 首页</a></li>
                    <li class="active">仪表盘</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="box box-default">

                    <div class="box-body">

                        <!-- Info boxes -->
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="info-box bg-gray">
                                    <span class="info-box-icon bg-aqua"><i class="fa fa-line-chart"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">今日打印单数</span>
                                        <span class="info-box-number">[[${indexInfo.dayPrintfNumber}]]</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="info-box bg-gray">
                                    <span class="info-box-icon bg-red"><i class="fa fa-pie-chart"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">今日打印收入</span>
                                        <span class="info-box-number">[[${indexInfo.dayPrintfIncome}]]</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->


                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="info-box bg-gray">
                                    <span class="info-box-icon bg-green"><i class="fa fa-area-chart"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">今日收入</span>
                                        <span class="info-box-number">[[${indexInfo.dayIncome}]]</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="info-box bg-gray">
                                    <span class="info-box-icon bg-yellow"><i
                                            class="fa fa-bar-chart"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">今日支出</span>
                                        <span class="info-box-number">[[${indexInfo.dayPayOut}]]</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <div class="col-md-4">
                                <div class="box box-solid box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">记录打印</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /.box-tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <a class="btn btn-app" href="/input-printf">
                                            <i class="fa fa-edit"></i> 录入打印
                                        </a>
                                        <a class="btn btn-app" href="/order-input">
                                            <i class="fa fa-edit"></i> 详细录入
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="box box-solid box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">记账管家</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /.box-tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <a class="btn btn-app" href="/printing/tb-account-book/add-account">
                                            <i class="fa  fa-plus-square"></i> 添加账单
                                        </a>
                                        <a class="btn btn-app" href="/printing/tb-categories/add">
                                            <i class="fa  fa-plus-square"></i> 添加类别
                                        </a>
                                        <a class="btn btn-app" href="/printing/tb-account-book">
                                            <i class="fa  fa-bar-chart"></i> 账单列表
                                        </a>
                                        <a class="btn btn-app" href="/printing/tb-categories">
                                            <i class="fa  fa-bar-chart"></i> 类型列表
                                        </a>
                                        <a class="btn btn-app" href="/printing/tb-statistics-details/month">
                                            <i class="fa  fa-pie-chart"></i> 每月统计
                                        </a>
                                        <a class="btn btn-app" href="/printing/tb-statistics-details/year">
                                            <i class="fa  fa-pie-chart"></i> 每年统计
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="box box-solid box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">打印记录更新</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /.box-tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <a class="btn btn-app" onclick="statisticsRecord('/time/day-record', null)">
                                            <i class="fa fa-refresh"></i> 每日更新
                                        </a>
                                        <a class="btn btn-app" onclick="statisticsRecord('/time/month-record', null)">
                                            <i class="fa fa-refresh"></i> 每月更新
                                        </a>
                                        <a class="btn btn-app" onclick="statisticsRecord('/time/year-record', null)">
                                            <i class="fa fa-refresh"></i> 每年更新
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="box box-solid box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">打印统计</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                    class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /.box-tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <a class="btn btn-app" href="/printing/tb-print-order/list">
                                            <i class="fa fa-bar-chart"></i> 打印记录
                                        </a>
                                        <a class="btn btn-app" href="/printing/tb-order-day">
                                            <i class="fa fa-bar-chart"></i> 每日记录
                                        </a>
                                        <a class="btn btn-app" href="/printing/tb-order-month">
                                            <i class="fa fa-bar-chart"></i> 每月记录
                                        </a>
                                        <a class="btn btn-app" href="/printing/tb-order-year">
                                            <i class="fa fa-bar-chart"></i> 每年记录
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </section>
        </div>
        </section>
        <!-- /.content -->

    </div>
    <!-- /.container -->
</div>
<!-- /.content-wrapper -->

<th:block th:replace="include/footer :: footer"/>
</div>
<!-- ./wrapper -->

<th:block th:include="include/include :: foot"/>

</body>
</html>